- return unless can?(current_user, :read_environment, @project)

- setting = error_tracking_setting

%section.settings.expanded.border-0.no-animate
  .settings-header
    %h4
      = _('Error Tracking')
    %p
      = _('To link Sentry to GitLab, enter your Sentry URL and Auth Token.')
      = link_to _('More information'), help_page_path('user/project/operations/error_tracking'), target: '_blank'
  .settings-content
    .js_error-tracking-form{ data: { api_host: setting.api_host, enabled: setting.enabled, token: setting.token, project_name: setting.project_name, project_slug: setting.project_slug, project_organization_name: setting.organization_name, project_organization_slug: setting.organization_slug, list_projects_endpoint: namespace_project_list_projects_url(project_id: @project, namespace_id: @project.namespace), operations_settings_endpoint: project_settings_operations_path(@project) } }
      .loading-container.text-center
        = icon('spinner spin 2x', class: 'loading-animation prepend-top-20')
