- if @domain.errors.any?
  .alert.alert-danger
    - @domain.errors.full_messages.each do |msg|
      = msg

- if Feature.enabled?(:pages_auto_ssl)
  = render 'form_with_auto_ssl', f: f
- else
  = render 'form_without_auto_ssl', f: f
